/* Desktop */
.container{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "header header header header header header"
    "banner banner banner banner banner banner"
    "footer footer footer footer footer footer";
}

header{
    grid-area: header;
    /* background-color: #000; */
    /* color: #fff; */
    /* text-align: center; */
}

#banner{
    grid-area: banner;
    /* background-color: #000; */
    /* color: #fff; */
    /* text-align: center; */
    /* height: 500px; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sect{
    grid-area: sect;
    /* background-color: #000; */
    /* color: #fff; */
    text-align: center;
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    grid-area: footer;
    background-color: #18010d;
    /* color: #fff; */
    height: 100px;
    /* text-align: center; */
}


.cont{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "header header header header header header"
    "sect sect sect sect sect sect"
    "footer footer footer footer footer footer";
}
