#whole-svg {
/* scale: 2; */
}

.uuid-8fb1da8d-dfcf-4ce4-aa4a-1cbc8624ea56 {
  fill: #2f2e41;
}

.uuid-22016e4b-80f4-449b-bc49-cc770581ec9d, .uuid-06f44c5b-0e81-4ae6-90f3-645e39623310, .uuid-d3422de8-977a-490c-9842-144da701a2a1 {
  fill: #fff;
}

.uuid-90adc1e4-ff6f-495f-a745-28bd0442dce5 {
  fill: #565656;
}

.uuid-e293d9ab-c38c-447d-ab57-ec1e65f9f287 {
  fill: #3f3d56;
}

.uuid-609111fd-cce2-4594-a1f0-0061418a1bb9 {
  fill: #0a0a0a;
}

.uuid-52dab2bd-0e8f-47fb-806f-cf1b862a6a0c {
  fill: #303030;
}

.uuid-7594869e-3c17-4f0f-9b03-a23a12a3cad7 {
  fill: #d68f47;
  opacity: .49;
}

.uuid-06f44c5b-0e81-4ae6-90f3-645e39623310 {
  font-size: 7.57px;
}

.uuid-06f44c5b-0e81-4ae6-90f3-645e39623310, .uuid-d3422de8-977a-490c-9842-144da701a2a1 {
  font-family: ErasITC-Light, 'Eras Light ITC';
  font-weight: 300;
}

.uuid-feab06fb-b143-4f08-904c-55c27a44c8fa {
  opacity: .3;
}

.uuid-feab06fb-b143-4f08-904c-55c27a44c8fa, .uuid-a45d07fc-f7de-450f-b39b-587cf1aaf3f8, .uuid-8a9000e8-9430-4fe9-8524-cbc101ecfae9 {
  isolation: isolate;
}

.uuid-ed8e9da3-74f4-409a-97a9-782a64df6b46 {
  fill: #2d1403;
}

.uuid-055039dd-a3ca-4273-9657-fbac834261a7 {
  fill: #632b04;
}

.uuid-a45d07fc-f7de-450f-b39b-587cf1aaf3f8 {
  opacity: .2;
}

.uuid-9178c181-253f-4dd4-858f-4777c8065b22 {
  fill: #001423;
}

.uuid-d3422de8-977a-490c-9842-144da701a2a1 {
  font-size: 12.65px;
}

.uuid-2ff1d734-dbe4-483b-ba0e-df664ca432cf {
  fill: #c17f3e;
}

.uuid-62f3b0a0-f1e6-4213-a8d5-4f9325d8056d {
  fill: #ebebeb;
}

.uuid-1818c576-20fd-4946-911b-9c0176d06438 {
  fill: #c46600;
}

.uuid-7c18a7db-7c8c-413d-960a-6d2e6131aa6b {
  fill: #f9bb8a;
}

.uuid-285e0646-9601-431b-b906-14b10a582e2f {
  fill: #efefef;
}

.uuid-2edc911c-6f89-414c-893d-a1aec6785767 {
  fill: #606060;
}

.uuid-8a9000e8-9430-4fe9-8524-cbc101ecfae9 {
  opacity: .4;
}

.uuid-34d68bdd-f965-401a-a168-752085f2649e {
  fill: #f2f2f2;
}

.uuid-933c1213-58bd-4da1-aac0-3abda7268e58 {
  fill: #c4c4c4;
}

#bgc1{
  fill: #f2f2f2;
}

#bgc2{
  fill: #c4c4c4;
}

#bgc3{
  fill: #f2f2f2;
}